/*
Structural
    :root - Representa la raiz del documento (html) usando una pseudoclase tenemos más especificidad que si usáramos html
    :empty - Esta pseudoclase se aplica para los elementos vacios, es decir, etiquetas que no tienen contenido
    
    -child
        :first-child - Selecciona al primer hijo (independientemente del tipo de etiqueta)
        :last-child - Selecciona al ultimo hijo (independientemente del tipo de etiqueta)
        :nth-child(n) - Selecciona al hijo n(independientemente del tipo de etiqueta)
        :nth-last-child(n) Selecciona al hijo n empezando a contar desde el último (independientemente del tipo de etiqueta)
        :only-child Selecciona al hijo unico(independientemente del tipo de etiqueta)
    
    -type
        :first-of-type
        :last-of-type
        :nth-of-type()
        :nth-last-of-type()
        :only-of-type
    Valores posibles:
        odd - Impares
        even - Pares
        numeros enteros - 2,3,4...
        equaciones (1n,3n,4n+1,n+4,...)
            n es un multiplicador va de 0 hasta que se quede sin elementos
    
Negation
    :not() - Selecciona al elemento que no cumpla la condición, se puede poner cualquier selector salvo otro :not
*/

:root{

/* se utiliza mayormente cuanddo se trabaj con variables css */
}
/* 
.paragraph{

    padding:.5em;
    background: seagreen;
}

.paragraph:empty{

    padding:0; 
    all: unset;
} 
*/

/* .paragraph:first-child{

    color: red;
    background: royalblue;
}

.paragraph:last-child{

    background: seagreen;
}


.paragraph:nth-child(odd){
pares
    background: skyblue;
}


.paragraph:nth-child(even){ 
impares
    background: rgb(0, 217, 255);
}

.paragraph:nth-child(7){ 
    cualquier numero entero
    background: rgb(255, 174, 0);
}

.paragraph:nth-child(3n){ 
    n primero vale 0, despues 1, despues 2, despues 3 y asi 
    background: rgb(29, 185, 50);
}

.paragraph:only-child{
soolo funciona cuando es hijo unico
    background: violet;
} */


.paragraph:not(p){
    
    background: coral;
}

.paragraph:not(.first){
    /* aplica el estilo a todos menos a el parrafo que tiene la clase .first */
    background: crimson;
}