
/*
UI States
    :enabled
    :disabled
    :checked
    :in-range
    :out-of-range
    :required
    :optional
    :valid
    :invalid
    :read-only
    :read-write
*/

.input, label{
    display: block;
}

.input:enabled{

    background: lightsalmon;
}

.input:disabled{

    background: lime;
    border: none;
}

.input:checked + label{

    font-size: 2em;
}

.input:in-range{

    background: magenta;
}

.input:out-of-range{

    background: rgb(96, 127, 211);
}

.input:optional{

    background: moccasin;
}

.input:required{

    background: olive;
}

.input:valid{

    background: rgb(0, 255, 157);
}

.input:invalid{

    background: saddlebrown;
}